{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Create a new serie
{% endblock %}

{% block body %}

    <div>
        {{ form_start(serieForm)}}

        {{ form_widget(serieForm) }}

        <button>Create!</button>

        {{ form_end(serieForm)}}
    </div>

{% endblock %}

